<div id="coucou">
  <div id="fermer" style="display:none">
    <div id="mobile_cookie" class="alert cookiealert show" role="alert">
      <span>{{ 'general.cookie.phrase' | t }}</span>
      <a href="{{ settings.link_privacy }}" target="_blank">{{ 'general.cookie.link' | t }}</a>
      <button type="button" class="{{ settings.choix_style_bouton_cookie }} acceptcookies" aria-label="Close">
        {{ 'general.cookie.close' | t }}
      </button>
    </div>
  </div>
</div>