<!-- /snippets/product-grid-item.liquid -->
{% comment %}

This snippet is used to showcase each product during the loop,
'for product in collection.products' in collection.liquid.

A liquid variable (grid_item_width) is set just before the this
snippet is included to change the size of the container.
Once the variable is set on a page, all future instances of this
snippet will use that width. Overwrite the variable to adjust this.

Example
- assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% unless grid_item_width %}
{% assign grid_item_width = 'small--one-half large--one-quarter medium--one-third' %}
{% endunless %}

{% unless width %}
{%- assign width = 310 -%}
{% endunless %}
{% unless height %}
{%- assign height = 415 -%}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

{%- assign variant = product.selected_or_first_available_variant -%}

{% capture img_id_class %}ProductImage-{{ product.featured_media.id }}{% endcapture %}
{% capture img_wrapper_id %}ProductImageWrapper-{{ product.featured_media.id }}{% endcapture %}
{%- assign featured_image = product.featured_media.preview_image %}
{%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div {% if section.settings.anim_active %}data-aos="fade-{{ section.settings.animation_text }}"{% endif %} class="grid__item grid-product {{ grid_item_width }} {{ grid_item_width_md }} {{ grid_item_width_sm }}{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper text-center">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link{% unless featured_image.src == blank %} grid-product__image-link--loading{% endunless %}" href="{{ product.url | within: collection }}" data-image-link>
        {% if featured_image.src == blank %}
        <img class="grid-product__image" src="{{ featured_image.src | img_url: '1024x' }}" alt="{{ featured_image.alt | escape }}">
        {% else %}
        {% include 'image-style' with image: featured_image, small_style: true, width: width, height: height, wrapper_id: img_wrapper_id, img_id_class: img_id_class %}
        <div id="{{ img_wrapper_id }}" class="product--wrapper">
          <div style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100 }}%;">
            <img class="product--image lazyload {{ img_id_class }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ featured_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ featured_image.alt | escape }}"
                 data-image>
          </div>
        </div>
        <noscript>
          <img class="grid-product__image" src="{{ featured_image.src | img_url: '1024x' }}" alt="{{ featured_image.alt | escape }}">
        </noscript>
        {% endif %}
      </a>
      {% if sold_out %}
      <div class="grid-product__sold-out">
        <p>{{ 'products.product.sold_out_html' | t }}</p>
      </div>
      {% endif %}
    </div>
    <a href="{{ product.url | within: collection }}" class="grid-product__meta">
      <span class="grid-product__title">{{ product.title }}</span>
    </a>
    {% if section.settings.show_desc %}<div class="grid-product__desc">{{ product.description }}</div>{% endif %}
    {% unless product.has_only_default_variant %}
    <a href="{{ product.url }}"><button class="btn-grid">{{ 'products.product.startfrom' | t }}{% if settings.show_price_collection %} {{ product.price | money_without_trailing_zeros }}{% endif %}</button></a>
    {% else %}
    <form class="product-form add-to-cart__form" action="/cart/add" data-productid="{{product.id}}"  method="post" data-product-form> 
      <input type="hidden" name="id" data-productid="{{product.id}}" class="product-select" value="{{ product.variants[0].id }}" data-variant-title="{{ product.variants[0].title }}" />
      <button type="submit" id="AddToCart--{{ section.id }}" class="btn-grid add-to-cart">{{ 'products.product.add_to_cart' | t }}{% if settings.show_price_collection %} - {{ product.price | money_without_trailing_zeros }}{% endif %}</button>
    </form>
    {% endunless %}
    {% if section.settings.product_vendor_enable %}
    <p class="grid-product__vendor">{{ product.vendor }}</p>
    {% endif %}
  </div>
</div>
