{% comment %}
List out your main-menu linklist (default)

More info on linklists:
- http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<!-- begin site-nav -->
<ul class="site-nav" id="AccessibleNav">
  {% for link in linklists[section.settings.main_menu_link_list].links %}
  {% if link.links != blank %}
  {% assign parent_index = forloop.index %}
  <li class="site-nav__item site-nav--has-dropdown {% if link.active %}site-nav--active{% endif %}"
      aria-haspopup="true"
      data-meganav-type="parent">
    <a href="{{ link.url }}"
       class="site-nav__link"
       data-meganav-type="parent"
       aria-controls="MenuParent-{{ parent_index }}"
       aria-expanded="false"
       {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
      {{ link.title }}
      <span class="icon icon-arrow-down" aria-hidden="true"></span>
    </a>
    <ul id="MenuParent-{{ parent_index }}"
        class="site-nav__dropdown {% if link.levels == 2 %}site-nav--has-grandchildren{% endif %}"
        data-meganav-dropdown>
      {% for childlink in link.links %}
      {% if childlink.links != blank %}
      {% assign child_index = forloop.index %}
      <li class="site-nav__item site-nav--has-dropdown site-nav--has-dropdown-grandchild {% if childlink.active %}site-nav--active{% endif %}"
          aria-haspopup="true">
        <a href="{{ childlink.url }}"
           class="site-nav__dropdown-link"
           aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
           data-meganav-type="parent"
           {% unless request.page_type == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}
           tabindex="-1">
          {{ childlink.title }}
          <span class="icon icon-arrow-down" aria-hidden="true"></span>
        </a>
        <div class="site-nav__dropdown-grandchild">
          <ul id="MenuChildren-{{ parent_index }}-{{ child_index }}"
              data-meganav-dropdown>
            {% for grandchildlink in childlink.links %}
            <li{% if grandchildlink.active %} class="site-nav--active"{% endif %}>
              <a href="{{ grandchildlink.url }}"
                 class="site-nav__dropdown-link"
                 data-meganav-type="child"
                 {% unless request.page_type == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}
                 tabindex="-1">
                {{ grandchildlink.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% else %}
      <li{% if childlink.active %} class="site-nav--active"{% endif %}>
        <a href="{{ childlink.url }}"
           class="site-nav__dropdown-link"
           data-meganav-type="child"
           {% if childlink.active %}aria-current="page"{% endif %}
           tabindex="-1">
          {{ childlink.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="site-nav__item{% if link.active %} site-nav--active{% endif %}">
    <a href="{{ link.url }}"
       class="site-nav__link"
       data-meganav-type="child"
       {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
      {{ link.title }}
    </a>
  </li>
  {% endif %}
  {% endfor %}

  {% comment %}
  Remove comment tags below to add a search box to your header, visible on screens where your header menu
  is displayed inline.
  <li class="site-nav__item site-nav--search__bar medium-down--hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--header' %}
  </li>
  {% endcomment %}
  {% if shop.customer_accounts_enabled %}
  <li class="site-nav__item site-nav__expanded-item site-nav__item--compressed">
    <a class="site-nav__link site-nav__link--icon" href="{{ routes.account_url }}">
      <span class="icon-fallback-text">
        <span class="icon icon-customer" aria-hidden="true"></span>
        <span class="fallback-text">
          {% if customer %}
          {{ 'layout.customer.account' | t }}
          {% else %}
          {{ 'layout.customer.log_in' | t }}
          {% endif %}
        </span>
      </span>
    </a>
  </li>
  {% endif %}

  {% if section.settings.search == 'page' or section.settings.search == 'modal' %}
  {% assign search_modal = true %}
  {% if section.settings.search == 'page' %}
  {% assign search_modal = false %}
  {% endif %}
  <li class="site-nav__item site-nav__item--compressed">
    <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon{% if search_modal %} js-toggle-search-modal{% endif %}" data-mfp-src="#SearchModal">
      <span class="icon-fallback-text">
        <span class="icon icon-search" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'general.search.title' | t }}</span>
      </span>
    </a>
  </li>
  {% endif %}

  <li class="site-nav__item site-nav__item--compressed">
    <a {% unless settings.cart_type == 'drawer' %}href="{{ routes.cart_url }}" {% endunless %}class="site-nav__link site-nav__link--icon cart-link js-drawer-open-button-right" aria-controls="CartDrawer">
      <span class="icon-fallback-text">
        <span class="icon icon-cart" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
      </span>
      <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
    </a>
  </li>

</ul>
<!-- //site-nav -->