{% unless section.settings.dividers_top == 'none' %}
<div class="dividers-svg dividers-svg-{{ section.id }} dividers-top">
  <style>.dividers-svg-{{ section.id }} path, .dividers-svg-{{ section.id }} polygon { fill: {{ section.settings.color_fill_svg_top }}; }</style>
  {% case section.settings.dividers_top %}
  {% when 'little-arrow' %}
  	{% include 'dividers-little-arrow' %}
  {% when 'wave' %}
  {% include 'dividers-wave' %}
  {% when 'straight' %}
  {% include 'dividers-straight' %}
  {% when 'straight-wave' %}
  {% include 'dividers-straight-wave' %}
  {% when 'arrow' %}
  {% include 'dividers-arrow' %}
  {% when 'single-wave' %}
  {% include 'dividers-single-wave' %}
  {% when 'single-reverse-wave' %}
  {% include 'dividers-single-reverse-wave' %}
  {% when 'straight-reverse' %}
  {% include 'dividers-straight-reverse' %}
  {% endcase %}
</div>
{% endunless %}
<div id="featured-collections--{{ section.id }}"
     style="{% if section.settings.border_top %}border-top: 1px solid {{ section.settings.color_border }};{% endif %}{% if section.settings.border_bottom %}border-bottom: 1px solid {{ section.settings.color_border }};{% endif %}"
     {% if section.settings.color_bg contains 'shade' %}class="wrapper-color"{% endif %}>

  <style>
    {% if section.settings.color_bg contains 'fix' %}
    #featured-collections--{{ section.id }} {
      background-color: {{ section.settings.color_bg_fix }};
      max-width: 100%;
    }
    #featured-collections--{{ section.id }} p, #featured-collections--{{ section.id }} .h1 {
      color: {{ section.settings.color_text_fix }}; 
    }
    {% endif %}
  </style>
  <div data-section-id="{{ section.id }}" data-section-type="featured-collections-section">
    <div id="{{ section.settings.title }}" class="{{ section.settings.spacing_top }} {{ section.settings.spacing_bottom }} {{ section.settings.spacing_top_sm }} {{ section.settings.spacing_bottom_sm }} site_width{% if section.settings.full_width %}_full_width{% endif %}">
      {% if section.settings.title_section != blank %}
      <div {% if section.settings.anim_active %}data-aos="fade-{{ section.settings.animation_img }}"{% endif %} class="section-header text-{{ section.settings.alignement_text }}">
        <h2 class="{{ section.settings.choix_title }} h1 section-header__title">{{ section.settings.title_section }}</h2>
      </div>
      {% endif %}

      <div class="grid collection-grid">

        {% comment %}
        Show up to 9 collections.
        Frontpage will be excluded if collections defined automatically.
        {% endcomment %}
        {% assign isEmpty = true %}
        {% assign collection_index = 0 %}
        {% assign collection_count = 0 %}
        {% assign collection_limit = section.blocks.size %}

        {% comment %}
        Add one to the collection limit to offset chance of Frontpage being included
        {% endcomment %}
        {% assign collection_limit = collection_limit | plus: 1 %}

        {% comment %}
        Calculate number of collections to show, making sure Frontpage isn't one
        {% endcomment %}
        {% for collection in section.blocks limit: collection_limit %}
        {% assign collection_count = collection_count | plus: 1 %}
        {% endfor %}

        {% if collection_count > 0 %}
        {% assign isEmpty = false %}
        {% endif %}

        {% assign divisible_by_three = collection_count | modulo: 3 %}
        {% assign divisible_by_two = collection_count | modulo: 2 %}

        {% comment %}
        Loop through the collections to display
        {% endcomment %}
        {% for block in section.blocks limit: collection_limit %}
        {% assign collection = collections[block.settings.collection] %}
        {% assign collection_index = collection_index | plus: 1 %}
        {% assign collection_handle = collection.handle %}
        {% include 'collection-grid-collage' %}
        {% endfor %}

        {% if isEmpty %}
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item">
              <div class="rte text-center">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% unless section.settings.dividers_bottom == 'none' %}
<div class="dividers-svg dividers-svg-{{ section.id }} dividers-bottom">
  <style>.dividers-svg-{{ section.id }} path, .dividers-svg-{{ section.id }} polygon { fill: {{ section.settings.color_fill_svg_bottom }}; }</style>
  {% case section.settings.dividers_bottom %}
  {% when 'little-arrow' %}
  	{% include 'dividers-little-arrow' %}
  {% when 'wave' %}
  {% include 'dividers-wave' %}
  {% when 'straight' %}
  {% include 'dividers-straight' %}
  {% when 'straight-wave' %}
  {% include 'dividers-straight-wave' %}
  {% when 'arrow' %}
  {% include 'dividers-arrow' %}
  {% when 'single-wave' %}
  {% include 'dividers-single-wave' %}
  {% when 'single-reverse-wave' %}
  {% include 'dividers-single-reverse-wave' %}
  {% when 'straight-reverse' %}
  {% include 'dividers-straight-reverse' %}
  {% endcase %}
</div>
{% endunless %}


{% schema %}
{
"name": {
"da": "Kollektionsliste",
"de": "Kategorieliste",
"en": "Collection list",
"es": "Lista de colecciones",
"fi": "Kokoelmaluettelo",
"fr": "Liste des collections",
"hi": "कलेक्शन सूची",
"it": "Elenco delle collezioni",
"ja": "コレクションリスト",
"ko": "컬렉션 목록",
"nb": "Samlingsliste",
"nl": "Collectielijst",
"pt-BR": "Lista de coleções",
"pt-PT": "Lista de coleções",
"sv": "Kollektionslista",
"th": "รายการคอลเลกชัน",
"zh-CN": "产品系列列表",
"zh-TW": "商品系列清單"
},
"max_blocks": 9,
"settings": [
{
"type": "text",
"id": "title",
"label": "Nom de la section",
"default": "Liste des collections"
},
{
"type": "checkbox",
"id": "anim_active",
"label": "Activer les animations",
"default": false,
"info": "Désactiver cette case lorsque vous voulez personnaliser cette section."
},
{
"type": "header",
"content": "Paramètres de la section"
},
{
"type": "select",
"id": "alignement_text",
"label": "Alignement du titre",
"default": "center",
"options": [
{ "value": "left", "label": "Gauche" },
{ "value": "center", "label": "Centré" },
{ "value": "right", "label": "Droite" }
]
},
{
"type": "text",
"id": "title_section",
"label": {
"da": "Overskrift",
"de": "Überschrift",
"en": "Heading",
"es": "Título",
"fi": "Otsake",
"fr": "Titre",
"hi": "शीर्षक",
"it": "Heading",
"ja": "見出し",
"ko": "제목",
"nb": "Overskrift",
"nl": "Kop",
"pt-BR": "Título",
"pt-PT": "Título",
"sv": "Rubrik",
"th": "ส่วนหัว",
"zh-CN": "标题",
"zh-TW": "標題"
},
"default": {
"da": "Kollektionsliste",
"de": "Kategorieliste",
"en": "Collection list",
"es": "Lista de colecciones",
"fi": "Kokoelmaluettelo",
"fr": "Liste des collections",
"hi": "कलेक्शन सूची",
"it": "Elenco delle collezioni",
"ja": "コレクションリスト",
"ko": "컬렉션 목록",
"nb": "Samlingsliste",
"nl": "Collectielijst",
"pt-BR": "Lista de coleções",
"pt-PT": "Lista de coleções",
"sv": "Kollektionslista",
"th": "รายการคอลเลกชัน",
"zh-CN": "产品系列列表",
"zh-TW": "商品系列清單"
}
},
{
"type": "select",
"id": "choix_title",
"label": "Style du titre",
"default": "h2--1",
"info": "Les styles de titre sont personnalisables dans les paramètres généraux du thème.",
"options": [
{ "value": "h2--1", "label": "Style 1" },
{ "value": "h2--2", "label": "Style 2" },
{ "value": "h2--3", "label": "Sytle 3" }
]
},
{
"type": "header",
"content": "Espacements"
},
{
"type": "checkbox",
"id": "full_width",
"label": "Prendre toute la largeur"
},
{
"type": "select",
"id": "spacing_top",
"label": "Espacement au-dessus sur pc",
"default": "spacing-big-top",
"info": "Les espacements se configurent dans les paramètres généraux du thème.",
"options": [
{ "value": "spacing-big-top", "label": "Grand espacement sur pc" },
{ "value": "spacing-little-top", "label": "Petit espacement sur pc" },
{ "value": "no-spacing-top", "label": "Pas d'espacement sur pc" }
]
},
{
"type": "select",
"id": "spacing_top_sm",
"label": "Espacement au-dessus sur mobile",
"default": "spacing-big-top_sm",
"options": [
{ "value": "spacing-big-top_sm", "label": "Grand espacement sur mobile" },
{ "value": "spacing-little-top_sm", "label": "Petit espacement sur mobile" },
{ "value": "no-spacing-top_sm", "label": "Pas d'espacement sur mobile" }
]
},
{
"type": "select",
"id": "spacing_bottom",
"label": "Espacement en-dessous sur pc",
"default": "spacing-big-bottom",
"options": [
{ "value": "spacing-big-bottom", "label": "Grand espacement sur pc" },
{ "value": "spacing-little-bottom", "label": "Petit espacement sur pc" },
{ "value": "no-spacing-bottom", "label": "Pas d'espacement sur pc" }
]
},
{
"type": "select",
"id": "spacing_bottom_sm",
"label": "Espacement en-dessous sur mobile",
"default": "spacing-big-bottom_sm",
"options": [
{ "value": "spacing-big-bottom_sm", "label": "Grand espacement sur mobile" },
{ "value": "spacing-little-bottom_sm", "label": "Petit espacement sur mobile" },
{ "value": "no-spacing-bottom_sm", "label": "Pas d'espacement sur mobile" }
]
},
{
"type": "header",
"content": "Couleurs"
},
{
"type": "select",
"id": "color_bg",
"label": "Couleur d'arrière-plan",
"default": "none",
"info": "Le dégradé se configure dans les paramètres généraux du thème.",
"options": [
{
"value": "shade",
"label": "Dégradé"
},
{
"value": "fix",
"label": "Couleur unie"
},
{
"value": "none",
"label": "Pas de couleur"
}
]
},
{
"type": "color",
"id": "color_bg_fix",
"label": "Couleur d'arrière-plan unie",
"info": "Fonctionne si la couleur unie est sélectionnée ci-dessus.",
"default": "#f6f6f6"
},
{
"type": "color",
"id": "color_text_fix",
"label": "Couleur du texte sur l'arrière-plan uni",
"info": "Fonctionne si la couleur unie est sélectionnée ci-dessus.",
"default": "#000"
},
{
"type": "checkbox",
"id": "border_top",
"label": "Afficher une bordure en haut"
},
{
"type": "checkbox",
"id": "border_bottom",
"label": "Afficher une bordure en bas"
},
{
"type": "color",
"id": "color_border",
"label": "Couleur des bordures",
"info": "Fonctionne si les bordures sont sélectionnées ci-dessus.",
"default": "#000"
},
{
"type": "header",
"content": "Animations"
},
{
"type": "select",
"id": "animation_img",
"label": "Animation des éléments",
"default": "up",
"options": [
{ "value": "up", "label": "Vers le haut" },
{ "value": "right", "label": "Vers la droite" },
{ "value": "left", "label": "Vers la gauche" },
{ "value": "down", "label": "Vers le bas" }
]
},
{
"type": "header",
"content": "Séparateurs"
},
{
"type": "select",
"id": "dividers_top",
"label": "Séparateur du haut",
"default": "none",
"options": [
{ "value": "none", "label": "Aucun" },
{ "value": "wave", "label": "Vagues" },
{ "value": "straight", "label": "Ligne droite" },
{ "value": "straight-reverse", "label": "Ligne droite inversée" },
{ "value": "arrow", "label": "Flèche" },
{ "value": "little-arrow", "label": "Petite flèche" },
{ "value": "single-wave", "label": "Courbe" },
{ "value": "single-reverse-wave", "label": "Courbe inversée" }
]
},
{
"type": "color",
"id": "color_fill_svg_top",
"label": "Couleur du séparateur du haut",
"default": "#f6f6f6"
},
{
"type": "select",
"id": "dividers_bottom",
"label": "Séparateur du bas",
"default": "none",
"options": [
{ "value": "none", "label": "Aucun" },
{ "value": "wave", "label": "Vagues" },
{ "value": "straight", "label": "Ligne droite" },
{ "value": "straight-reverse", "label": "Ligne droite inversée" },
{ "value": "arrow", "label": "Flèche" },
{ "value": "little-arrow", "label": "Petite flèche" },
{ "value": "single-wave", "label": "Courbe" },
{ "value": "single-reverse-wave", "label": "Courbe inversée" }
]
},
{
"type": "color",
"id": "color_fill_svg_bottom",
"label": "Couleur du séparateur du bas",
"default": "#f6f6f6"
}
],
"presets": [
{
"name": {
"da": "Kollektionsliste",
"de": "Kategorieliste",
"en": "Collection list",
"es": "Lista de colecciones",
"fi": "Kokoelmaluettelo",
"fr": "Liste des collections",
"hi": "कलेक्शन सूची",
"it": "Elenco delle collezioni",
"ja": "コレクションリスト",
"ko": "컬렉션 목록",
"nb": "Samlingsliste",
"nl": "Collectielijst",
"pt-BR": "Lista de coleções",
"pt-PT": "Lista de coleções",
"sv": "Kollektionslista",
"th": "รายการคอลเลกชัน",
"zh-CN": "产品系列列表",
"zh-TW": "商品系列清單"
},
"category": {
"da": "Kollektion",
"de": "Kategorie",
"en": "Collection",
"es": "Colección",
"fi": "Kokoelma",
"fr": "Collection",
"hi": "कलेक्शन",
"it": "Collezione",
"ja": "コレクション",
"ko": "컬렉션",
"nb": "Samling",
"nl": "Collectie",
"pt-BR": "Coleção",
"pt-PT": "Coleção",
"sv": "Produktserie",
"th": "คอลเลกชัน",
"zh-CN": "收藏",
"zh-TW": "商品系列"
},
"blocks": [
{
"type": "collection"
},
{
"type": "collection"
},
{
"type": "collection"
}
]
}
],
"blocks": [
{
"type": "collection",
"name": {
"da": "Kollektion",
"de": "Kategorie",
"en": "Collection",
"es": "Colección",
"fi": "Kokoelma",
"fr": "Collection",
"hi": "कलेक्शन",
"it": "Collezione",
"ja": "コレクション",
"ko": "컬렉션",
"nb": "Samling",
"nl": "Collectie",
"pt-BR": "Coleção",
"pt-PT": "Coleção",
"sv": "Produktserie",
"th": "คอลเลกชัน",
"zh-CN": "收藏",
"zh-TW": "商品系列"
},
"settings": [
{
"id": "collection",
"type": "collection",
"label": {
"da": "Kollektion",
"de": "Kategorie",
"en": "Collection",
"es": "Colección",
"fi": "Kokoelma",
"fr": "Collection",
"hi": "कलेक्शन",
"it": "Collezione",
"ja": "コレクション",
"ko": "컬렉션",
"nb": "Samling",
"nl": "Collectie",
"pt-BR": "Coleção",
"pt-PT": "Coleção",
"sv": "Produktserie",
"th": "คอลเลกชัน",
"zh-CN": "收藏",
"zh-TW": "商品系列"
}
}
]
}
]
}
{% endschema %}
